@font-face {
    font-family: "04B_30";
    src: url("../../font/04B_30__.woff2");
}
@font-face {
    font-family: "Dogica";
    src: url("../../font/dogica.woff2");
    font-weight: 400;
}

:root {
    --team-flag-horizontal-alignment: 16px;
    --team-name-horizontal-alignment: 188px;
}

.main {
    background-image: url("static/background.png");
    background-size: cover;
}

/* ===========================
   Team Flag
=========================== */
.team-flag {
    position: absolute;
    top: 30px;
    height: 93px;
}
.left-team-flag { left: var(--team-flag-horizontal-alignment); }
.right-team-flag { right: var(--team-flag-horizontal-alignment); }

/* ===========================
   Team Name
=========================== */
.team-name {
    position: absolute;
    top: 30px;
    font-family: "Dogica";
    color: white;
    font-size: 26px;
}
.left-team-name { left: var(--team-name-horizontal-alignment); }
.right-team-name { right: var(--team-name-horizontal-alignment); }

/* ===========================
   Team Stars Container 
=========================== */
.team-star-container {
    position: absolute;
    top: 66px;
    display: flex;
    height: 59px;
    gap: 13.5px;
}
.left-team-star-container { left: var(--team-name-horizontal-alignment); }
.right-team-star-container {
    right: var(--team-name-horizontal-alignment);
    flex-direction: row-reverse;
}
/* ===========================
   Team Stars
=========================== */
.team-star {
    display: flex;
    align-items: center;
}
.team-star:nth-child(odd) { align-items: flex-end; }
.team-star:nth-child(even) {  align-items: flex-start; }

/* ===========================
   Middle Section 
=========================== */
.middle-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo { top: 41px; }
.title { top: 257px; }
.round-name {
    top: 354px;
    font-family: "Dogica";
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
}