:root {
    --left-alignment: 69px;
}

@font-face {
    font-family: "04B_30";
    src: url("../../font/04B_30__.woff2");
}
@font-face {
    font-family: "Dogica";
    src: url("../../font/dogica.woff2");
    font-weight: 400;
}

/* ===========================
    Video
=========================== */
video {
    position: absolute;
    top: 0;
    left: 0;
}

/* ===========================
    Main Screen
=========================== */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

/* ===========================
    Greenscreen
=========================== */
.greenscreen {
    position: absolute;
    top: 192px;
    left: var(--left-alignment);
    background-color: #0F0;
    width: 1460px;
    height: 818px;
}

/* ===========================
    Logo
=========================== */
.logo {
    position: absolute;
    top: var(--left-alignment);
    left: var(--left-alignment);
}

/* ===========================
    Title
=========================== */
.title {
    position: absolute;
    top: 143px;
    left: var(--left-alignment);
    font-size: 24px;
    color: white;
    font-family: "Dogica";
}

/* ===========================
    Now Playing Iframe
=========================== */
.now-playing-iframe {
    position: absolute;
    top: 359px;
    right: 37px;
    width: 498px;
    height: 97px;
    border: none;
    overflow: hidden;
}

/* ===========================
    Statitics Table
=========================== */
.statistics-table {
    position: absolute;
    right: 44px;
    top: 481px;
}
/* ===========================
    Statitics Header
=========================== */
.statistics-header {
    width: 441px;
    height: 59px;
    font-size: 24px;
    color: white;
    font-family: "04B_30";
    background-color: #1d4c90;
    border: 2px solid #1d4c90;
}
.statistics-header div {
    padding-left: 28px;
    padding-top: 24px;
}
/* ===========================
    Statitics Body
=========================== */
.statistics-body {
    border: 2px solid #52545A;
    border-top: 0px;
    width: 441px;
    height: 29px;
    font-size: 14px;
    font-family: "Dogica";
    font-weight: 400;
    line-height: 29px;
    display: flex;
    background-color: #26272B;
}
.statistics-body-title {
    margin-left: 29px;
    width: 148px;
    color: white;
}
.statistics-body-data { color: #f4e662; }

/* ===========================
    Replayer
=========================== */
.replayer-frame {
    position: absolute;
    bottom: 173px;
    right: 56px;
}
.replayer {
    position: absolute;
    bottom: 235px;
    right: 81px;
    font-size: 14px;
    font-family: "Dogica";
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 354px;
}